## **First program**

In [1]:
print("hello world")

hello world

In [14]:
"""  ? => basic info  and ?? => with source code if possible
"""
pow??

Signature: pow(base, exp, mod=None)
Docstring:
Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

Some types, such as ints, are able to use a more efficient algorithm when
invoked using the three argument form.
Type:      builtin_function_or_method

## **varaibles**

In [3]:
x=3

**to see variable  list , type and data (type "%whos%)**

In [4]:
%whos

Variable               Type        Data/Info
--------------------------------------------
dataframe_columns      function    <function dataframe_colum<...>ns at 0x000001BE400C6840>
dataframe_hash         function    <function dataframe_hash at 0x000001BE3DA8D9E0>
dtypes_str             function    <function dtypes_str at 0x000001BE400C6980>
get_dataframes         function    <function get_dataframes at 0x000001BE3FFCFEC0>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x000001BE400C6F20>
is_data_frame          function    <function is_data_frame at 0x000001BE400C5B20>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
x                      int         3

In [5]:
print(type(x))

<class 'int'>

In [6]:
abcd =333.33

In [7]:
print(type(abcd))

<class 'float'>

In [8]:
%whos

Variable               Type        Data/Info
--------------------------------------------
abcd                   float       333.33
dataframe_columns      function    <function dataframe_colum<...>ns at 0x000001BE400C6840>
dataframe_hash         function    <function dataframe_hash at 0x000001BE3DA8D9E0>
dtypes_str             function    <function dtypes_str at 0x000001BE400C6980>
get_dataframes         function    <function get_dataframes at 0x000001BE3FFCFEC0>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x000001BE400C6F20>
is_data_frame          function    <function is_data_frame at 0x000001BE400C5B20>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
x                      int         3

In [9]:
del abcd

In [10]:
%whos

Variable               Type        Data/Info
--------------------------------------------
dataframe_columns      function    <function dataframe_colum<...>ns at 0x000001BE400C6840>
dataframe_hash         function    <function dataframe_hash at 0x000001BE3DA8D9E0>
dtypes_str             function    <function dtypes_str at 0x000001BE400C6980>
get_dataframes         function    <function get_dataframes at 0x000001BE3FFCFEC0>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x000001BE400C6F20>
is_data_frame          function    <function is_data_frame at 0x000001BE400C5B20>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
x                      int         3

In [11]:
print(abcd)

NameError: name 'abcd' is not defined

In [48]:
a=2
b=2.3
c=2j
d="aqsa"
e=[1,2,3]
f=(7,8,9)
g={"bio":70 , "chem":90}
h=True

In [49]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>

In [50]:
%whos

Variable               Type        Data/Info
--------------------------------------------
CheckArgs              function    <function CheckArgs at 0x000001BE40F39BC0>
Y                      str         HELLO
a                      int         2
b                      float       2.3
c                      complex     2j
d                      str         aqsa
dataframe_columns      function    <function dataframe_colum<...>ns at 0x000001BE418840E0>
dataframe_hash         function    <function dataframe_hash at 0x000001BE41885B20>
dtypes_str             function    <function dtypes_str at 0x000001BE418854E0>
e                      list        n=3
f                      tuple       n=3
function               function    <function function at 0x000001BE400C54E0>
g                      dict        n=2
get_dataframes         function    <function get_dataframes at 0x000001BE41886160>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
h                      bool        True
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x000001BE41884EA0>
is_data_frame          function    <function is_data_frame at 0x000001BE41886200>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
myadd                  function    <function myadd at 0x000001BE41885940>
r                      function    <function r at 0x000001BE41885580>
x                      int         5
y                      int         7
z                      str         something

In [51]:
sumOfAandX=a+x
sumOfAandB=a+b
sumOfAandC=a+c
sumOfBandC=b+c
sumOfDandD=d+d
sumOfEandE=e+e
sumOfFandF=f+f

print(sumOfAandX , type(sumOfAandX))
print(sumOfAandB , type(sumOfAandB))
print(sumOfAandC , type(sumOfAandC))
print(sumOfBandC , type(sumOfBandC))
print(sumOfDandD , type(sumOfDandD))
print(sumOfEandE , type(sumOfEandE))
print(sumOfFandF , type(sumOfFandF))

7 <class 'int'>
4.3 <class 'float'>
(2+2j) <class 'complex'>
(2.3+2j) <class 'complex'>
aqsaaqsa <class 'str'>
[1, 2, 3, 1, 2, 3] <class 'list'>
(7, 8, 9, 7, 8, 9) <class 'tuple'>

In [52]:
m="3"
n="3"
print(m+n)

33

In [53]:
o="3"
p="AQSA"
print(o+p)

3AQSA

In [54]:
o=3
p="AQSA"
print(o+p)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**// returns integer and / returns decimal**

In [55]:
print( "a =", a ,"\nx=" , x)

a = 2
x= 5

In [56]:
print(a//x ,"\n", a/x)

0
 0.4

In [57]:
print(h)

True

In [58]:
not(h)

False

# **Built-In Function**

In [59]:
print(round(4.556))
print(round(4.33))

5
4

In [60]:
""" divmod  => division + reminder dono data ha """

B=divmod(27 , 5)
print(type(B))
print(B)
print(B[0] ,"\n" ,B[1])

<class 'tuple'>
(5, 2)
5
 2

In [61]:
""" length """
name = input("enter your name :")
print("lenght:" , len(name))

enter your name : aqsa

lenght: 4

In [62]:
""" convert into integer"""

A=3.44
print(A, "\n", int(A))

3.44
 3

In [63]:
""" convert into float"""
A=3
print(A, "\n", float(A))

3
 3.0

In [64]:
""" convert into String"""

A=3
A=str(A)
print( type(A) , A, "\n", A , type(A))

<class 'str'> 3
 3 <class 'str'>

In [65]:
""" convert into list =>iterable object ko list ma convert krta ha """
A="AQSA"
B=(1,2,3)
C={"a" :1 , "b" :2 }
D=range(5)

print(list(A) ,"\n" ,  list(B),"\n" , list(C) ,"\n" , list(D))

['A', 'Q', 'S', 'A']
 [1, 2, 3]
 ['a', 'b']
 [0, 1, 2, 3, 4]

In [66]:
""" convert into Dictionary"""
d=dict(name = "aqsa" , age = "23" , subject="IT")
print(d)

{'name': 'aqsa', 'age': '23', 'subject': 'IT'}

In [67]:
""" convert into Sets => Unique elements""" 
A=[1,2,3,4,2,3,5]
print(set(A))

{1, 2, 3, 4, 5}

In [68]:
""" Sum"""
A=[1,2,3,4,5]
print(sum(A))

15

In [69]:
""" Max"""
A=[11,29,39,44,50,22]
print(max(A))

50

In [70]:
""" Min"""
A=[11,29,39,44,50,22]
print(min(A))

11

In [71]:
""" Sorted"""
A=[11,29,3,39,44,4,50,22,0]
print(sorted(A))

[0, 3, 4, 11, 22, 29, 39, 44, 50]

In [72]:
"""Range"""


for i in range(10):
    print(i)
    """or"""
d=range(5)
print(list(d))
"""or"""
for j in range( 2,11,2):
    print(j)

0
1
2
3
4
5
6
7
8
9
[0, 1, 2, 3, 4]
2
4
6
8
10

In [73]:
"""Print a table using Range"""
a=5
for i in range(11):
    print( a , "*" , i ,"=" , 5*i)

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [74]:
"""Print a even number using Range"""

for i in range(2,20,2):
    print( i)

2
4
6
8
10
12
14
16
18

In [75]:
"""Print a odd number using Range"""

for i in range(1,20,2):
    print( i)

1
3
5
7
9
11
13
15
17
19

In [76]:
l1=[]
l2=[]
for i in range(1, 20, 3 ):
    l1.append(i)
    l2.append(i**2)

print(l1)
print(l2)

[1, 4, 7, 10, 13, 16, 19]
[1, 16, 49, 100, 169, 256, 361]

In [77]:
"""  Power function => return x raised to y and also it return (x**y)% mod value"""
x=3
y=2
print(pow(x, y))
print(pow(x, y)%2)

9
1

In [78]:
""" abs=> reutrn the acsolute value of x"""
x=-4
y=-3.8
print(abs(x))
print(abs(y))

4
3.8

In [79]:
""" bool=> convert into bool"""
print(bool(0))
print(bool(1))

False
True

In [80]:
""" zip=> combine two lists"""
name=['aqsa' , 'erum']
scores=[90,80]
for name ,  scores in zip(name , scores):
    print(name , scores)

aqsa 90
erum 80

In [81]:
""" isinstance => check the type"""
x=5
y=2.3
print(isinstance(x, int))
print(isinstance(y, str))

True
False

In [82]:
""" All => All true then true"""
print(all([True, True, True]))
print(all([True, False, True]))

True
False

In [83]:
""" Any => Any one is true"""
print(any([False, False , False]))
print(any([True, False, True]))

False
True

In [84]:
a=float(input("enter a real number :"))

enter a real number : 44

## is

In [85]:
""" is => is operator checks whether two variables refers to the same object in memory"""
a=300
b=300
print(a is b )

False

In [86]:
a= 300 
b=a
print(a is b )

True

In [87]:
a=[1,2,4]
b=a
print(b is a)

True

In [12]:
L1=[1,2,3,4]
print(L1)
L2=L1
L2[2]=-9
print("L2",L2)
print("L1",L1)

[1, 2, 3, 4]
L2 [1, 2, -9, 4]
L1 [1, 2, -9, 4]

## **Condition**

In [88]:
a=int(input("enter the vlue of  A :"))
b=int(input("enter the vlue of  B :"))
if a > b :
    print(a)
    print("i am still inside if condition")
if b > a :
    print(b)
    print("i am still inside if condition")
print("i am outside if condition")

enter the vlue of  A : 6
enter the vlue of  B : 8

8
i am still inside if condition
i am outside if condition

In [90]:
a=int(input("enter the value of  A :"))
b=int(input("enter the value of  B :"))
if a > b :
    print(a)
    print("i am  inside if ")
else :
    print(b)
    print("i am  inside else ")
print("i am outside  condition")

enter the value of  A : 7
enter the value of  B : 9

9
i am  inside else
i am outside  condition

In [91]:
a=10 
b=20 
c=30
if a == b :
    print("equal")

elif a > b :
    print("a is greater than b" , "\n" , a ,">" , b)

else :
    print("b is greater than a" ,  "\n" , b ,">" , a)

b is greater than a
 20 > 10

In [92]:
a=int(input("enter a number :"))
if a > 10:
      print( "a > 10 ")
      if a > 20:
          print("a > 20 ")
          if a > 30 :
              print("a > 30 " )
          else :
              print("a < 30 ")
      else :
             print("a < 20 ")
else :
     print("a < 10 ")

enter a number : 25

a > 10
a > 20
a < 30

In [94]:
# single line comment
""" 
User will enter a floating point number let say 238.915. Your task
is to find out the integer portion before the point (in this case 238)
and then check if that integer portion is an even number or not?
"""
x = float(input("Enter a real number :"))
print(x)
y = round(x)
print(y)
if x > 0 :
    if y > x :
        intPortion = y-1 
        print( intPortion)
        print("1")
    else :
        intPortion = y
        print(intPortion)
        print("2")

else:
    if(x > y) :
         intPortion = y+1 
         print( intPortion)
         print("3")

    else :
        intPortion = y
        print( intPortion)
        print("4")

if intPortion % 2 == 0 :
    print("Even ")
else:
     print("odd ")

Enter a real number : 4.9

4.9
5
4
1
Even

In [95]:
x = float(input("Enter a real number :"))
print (x)
y=int(x)
print(y)

Enter a real number : -5.5

-5.5
-5

## **Loops**

In [96]:
n=int(input())

 3

In [98]:
n = int(input())
i=1
while i < n :
    print("this is iteration number : " , i )
    print ( i ** 2 )
    i+=1

print("loop end")

 4

this is iteration number :  1
1
this is iteration number :  2
4
this is iteration number :  3
9
loop end

In [99]:
n = int(input())
i=1
while i < n :
    if i % 9 == 0 :
        print(i)
        print("inside if ")
        break

    else :
        print("inside else  " , i)
        i+=1

print ("END")

 7

inside else   1
inside else   2
inside else   3
inside else   4
inside else   5
inside else   6
END

In [100]:
n = 10
i = 1
while i < n:
   if i % 9 != 0:
       print( " inside if " , i )
       i+=1
       continue
   print( " i am after the continue "  )
   break 
   print( " i am after the break "  )
print( " END "  )

 inside if  1
 inside if  2
 inside if  3
 inside if  4
 inside if  5
 inside if  6
 inside if  7
 inside if  8
 i am after the continue
 END

In [101]:
S = {"apple",4.9,"cherry"}
i=1
for x in S:
    print(x)
    i+=1
    if( i == 3 ):
        break

    else :
        pass #do nothing
print("END")

cherry
4.9
END

In [102]:
S = {"apple",4.9,"cherry"}
l=S[1]
print(l)

TypeError: 'set' object is not subscriptable

In [103]:
S = {"apple",4.9,"cherry"} 
for x in S:
    print(x)

cherry
4.9
apple

In [104]:
D = {"A":10,"B":-19,"C":"abc"}
for x in D :
    print (x , D[x])

A 10
B -19
C abc

## **functions**

In [106]:
def FirstFunction():
    print("this is my first function ")

In [107]:
FirstFunction()

this is my first function

In [108]:
def printmsg(msg):
    if isinstance (msg, str):
        print(msg)

    else :
        print ("your msg type is not string")

In [109]:
printmsg(" hye ")

 hye

In [110]:
printmsg(" 123")

 123

In [111]:
printmsg(123)

your msg type is not string

In [112]:
Y="HELLO"
print(Y)

HELLO

In [18]:
def CheckArgs(a,b,c):
    if isinstance(a , (int, float)) and isinstance(b , (int, float)) and isinstance(c , (int, float)):
        print((a+b+c)**2)

    else :
        print ("Error: the input arguements are not of the expected types")

In [19]:
CheckArgs(3,6,8)

289

In [21]:
CheckArgs(3,6,"g")

Error: the input arguements are not of the expected types

In [23]:
def function(a,b,c):
    print("A is :" , a)
    print("B is :" , b)
    print("C is :" , c)

In [24]:
function(3,"game" , 3.5)

A is : 3
B is : game
C is : 3.5

In [26]:
function(c="game" , b=3 , a=3.5)

A is : 3.5
B is : 3
C is : game

In [27]:
def myadd(a,b):
    add=a+b

In [38]:
myadd(3,6)

9

In [34]:
def myadd(a,b):
    add = a + b
    return add

In [40]:
myadd(3,6)
print(type(myadd))

<class 'function'>

In [41]:
def r():
    a = 5
    b = 7
    d = "something"
    return a,b,d

In [45]:
x,y,z=r()
print(x,y,z)

5 7 something

In [20]:
""" def myAddUniversal(*args): * ka mtlb ha multiple values lana 
 " Attributes number of positional arguments"
"""
s=0
def sum(*num):
    s=0
    for i in range(len(num)):
        s += num[i]
    return s
sum(3,6)

9

In [23]:
def sum(*num):
    for i in num:
        print(num[i])
   
sum(3,6)

IndexError: tuple index out of range

In [18]:
def printAllVariableNamesAndValues(**args):
    for i in args:
        print("Variable name is :" , i , " And it's Value : " , args[i])

In [19]:
printAllVariableNamesAndValues(a="game" , b=1 , c=2.4)

Variable name is : a  And it's Value :  game
Variable name is : b  And it's Value :  1
Variable name is : c  And it's Value :  2.4

In [5]:
'''  default value agr function ma koi value pass nahi krien gain tu default value run ho gee '''

def cityName(CN="Karachi"):
    print(CN)

cityName("Lahore")
cityName("Pindi")
cityName()
cityName("Islamabad")

Lahore
Pindi
Karachi
Islamabad

In [7]:
def ff(L=[1,2,3]):
    print(L)

ff([11,22,33])
ff()

[11, 22, 33]
[1, 2, 3]

## **String**

In [14]:
s="Hello World"
type(s)

str

In [16]:
s1="Hello" 
s2="World"
s3=s1+" "+s2
s3

'Hello World'

In [17]:
print("hello" , 12)

hello 12

In [19]:
price=1200
s="the price of this :"
print(s,price)

the price of this : 1200

In [21]:
price=1200
s="the price of this :"
print(s+price) # error ko solve krny ky lie price ko string ma convert krna ho ga

TypeError: can only concatenate str (not "int") to str

In [22]:
price=1200
s="the price of this :"
print(s+ str(price))

the price of this :1200

In [25]:
a=""" this is line 1
this is line 2
this is line 3"""
print(a)

 this is line 1
this is line 2
this is line 3

In [27]:
print(""" The following options are available:
            -a       : does nothing
            -b       : also does nothing
""")

 The following options are available:
            -a       : does nothing
            -b       : also does nothing

In [38]:
s = "How are you and who are you"
s2=s[2]
s2

'w'

In [39]:
type(s2)

str

In [40]:
s[0:10]

'How are yo'

In [41]:
s[-1]

'u'

In [42]:
s[-10:-3]

'ho are '

In [44]:
s[1]="e"

TypeError: 'str' object does not support item assignment

In [45]:
s[0:10:2]

'Hwaey'

In [46]:
s[3:]

' are you and who are you'

In [47]:
s[:12]

'How are you '

In [48]:
s[::2]

'Hwaeyuadwoaeyu'

In [49]:
s[::-1]

'uoy era ohw dna uoy era woH'

In [51]:
a = "    abc def     hgq asdfaf     "
len(a)

31

In [53]:
a1=a.strip() # original string change nahi ho ge
a1

'abc def     hgq asdfaf'

In [54]:
len(a1)

22

In [55]:
len(a)

31

In [56]:
a.strip()
len(a)

31

In [58]:
a.upper()# original string change nahi ho ge

'    ABC DEF     HGQ ASDFAF     '

In [60]:
a

'    abc def     hgq asdfaf     '

In [61]:
a.lower() # original string change nahi ho ge

'    abc def     hgq asdfaf     '

In [62]:
a.replace("a" , "W") # original string change nahi ho ge

'    Wbc def     hgq WsdfWf     '

In [63]:
a

'    abc def     hgq asdfaf     '

In [64]:
a.replace("a" , "WB") # original string change nahi ho ge

'    WBbc def     hgq WBsdfWBf     '

In [66]:
a = "abc;def;hgydfa;yy23"
a.split(";")

['abc', 'def', 'hgydfa', 'yy23']

In [67]:
a="hello world"
a.title()

'Hello World'

In [68]:
a.capitalize()

'Hello world'

In [69]:
a.find("l")# return position of substring

2

In [72]:
a.startswith("h")

True

In [73]:
a.endswith("h")

False

In [78]:
words=["python", "is" ,"awesome"]
sentence=" ".join(words)
print(sentence)

python is awesome

In [82]:
words=["apple", "banana" ,"cherry"]
fruits=" , " .join(words)
fruits

'apple , banana , cherry'

In [87]:
a="aqsa123"

a.count("a")

2

In [88]:
a.index("a")

0

In [89]:
a.isalnum() # string sirf letters and digits pr based krta ha

True

In [90]:
a.isalpha()# string sirf letters  pr based krta ha

False

In [92]:
a.isdigit() # string sirf digits pr based krta ha

False

In [94]:
"a" in "aqsa"

True

In [95]:
"ab" < "aqsa"

True

In [96]:
"xy" < "aqsa"

False

In [97]:
"$%"<"*&"

True

In [98]:
print("we are learning"string"here")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1756096802.py, line 1)

In [99]:
print("we are learning\"string\"here")

we are learning"string"here

In [100]:
print("we are learning'string'here")

we are learning'string'here

In [101]:
print('we are learning"string"here')

we are learning"string"here

In [102]:
print('we are  \t learning"string"here')

we are  	 learning"string"here

In [103]:
print("c:\name\drive")

c:
ame\drive

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\GOODLUCK\AppData\Local\Temp\ipykernel_3256\1646069977.py:1: SyntaxWarning: invalid escape sequence '\d'
  print("c:\name\drive")

In [104]:
print(r"c:\name\drive")

c:\name\drive

## ** Data Structure**

In [105]:
L=[1, "game" , 3.4]
T=(1, "game" , 3.4)
S={1, "game" , 3.4}
D={23:"throne", "ABC":44, "c":"Cc"}

In [111]:
print("the type of L is :" , type(L) )
print("the type of T is :"  , type(T) )
print("the type of S is :"  , type(S) )
print("the type of D is :" ,  type(D) )

the type of L is : <class 'list'>
the type of T is : <class 'tuple'>
the type of S is : <class 'set'>
the type of D is : <class 'dict'>

In [118]:
print(L[1])
print(T[2])
print(3 in S )
print(3.4 in S )
print(D[23])
print(D['ABC'])

game
3.4
False
True
throne
44

In [119]:
print(L)

[1, 'game', 3.4]

In [122]:
L[1:2] #last wala count nahi hota

['game']

In [123]:
L[::-1]

[3.4, 'game', 1]

In [124]:
L=L+["how" , "are" , "you"]

In [125]:
L

[1, 'game', 3.4, 'how', 'are', 'you']

In [126]:
L.append(6.8)

In [128]:
L

[1, 'game', 3.4, 'how', 'are', 'you', 6.8]

In [129]:
T

(1, 'game', 3.4)

In [130]:
T=T+["how" , "are" , "you"] # error because its unchangable

TypeError: can only concatenate tuple (not "list") to tuple

In [131]:
T1=[1,2,3]
T2=["how" , "are" , "you"]
T3=T1+T2
T3

[1, 2, 3, 'how', 'are', 'you']

In [132]:
S=S+["how" , "are" , "you"] 
'''set is mutable but the elements inside the set is immutable you can add , remove , update 
the set but using set methods'''

TypeError: unsupported operand type(s) for +: 'set' and 'list'

In [133]:
S.add(56) # add a single value

In [134]:
S

{1, 3.4, 56, 'game'}

In [136]:
S.update({"how" , "are" , "you"}) # add multiple value

In [137]:
S

{1, 3.4, 56, 'are', 'game', 'how', 'you'}

In [138]:
D

{23: 'throne', 'ABC': 44, 'c': 'Cc'}

In [158]:
D1={ "aa":33}
D2=D+D1

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [145]:
D["new Key"]="new Value"

In [149]:
D

{23: 'throne', 'ABC': 44, 'c': 2, 'new Key': 'new Value', 3: 3.9}

In [143]:
D.update({'c':2 , 3:3.9})

In [150]:
D

{23: 'throne', 'ABC': 44, 'c': 2, 'new Key': 'new Value', 3: 3.9}

In [147]:
del D[('new Key', 'another Key')]

In [148]:
D

{23: 'throne', 'ABC': 44, 'c': 2, 'new Key': 'new Value', 3: 3.9}

In [194]:
23 in D

True

In [195]:
33 in D

False

In [151]:
L

[1, 'game', 3.4, 'how', 'are', 'you', 6.8]

In [152]:
del L[3]

In [153]:
L

[1, 'game', 3.4, 'are', 'you', 6.8]

In [154]:
S

{1, 3.4, 56, 'are', 'game', 'how', 'you'}

In [155]:
del S[3]

TypeError: 'set' object doesn't support item deletion

In [156]:
S.remove(3.4)

In [157]:
S

{1, 56, 'are', 'game', 'how', 'you'}

In [159]:
L

[1, 'game', 3.4, 'are', 'you', 6.8]

In [160]:
L3=L[1:3]

In [161]:
L3

['game', 3.4]

In [162]:
L3[0]="hhh"

In [163]:
L3

['hhh', 3.4]

In [165]:
L

[1, 'game', 3.4, 'are', 'you', 6.8]

In [166]:
L.reverse()

In [167]:
L

[6.8, 'you', 'are', 3.4, 'game', 1]

In [168]:
D.items()

dict_items([(23, 'throne'), ('ABC', 44), ('c', 2), ('new Key', 'new Value'), (3, 3.9)])

In [171]:
print( L ,"\n" , T ,"\n" , S ,"\n" , D)

[6.8, 'you', 'are', 3.4, 'game', 1]
 (1, 'game', 3.4)
 {1, 'game', 56, 'how', 'you', 'are'}
 {23: 'throne', 'ABC': 44, 'c': 2, 'new Key': 'new Value', 3: 3.9}

In [176]:
D2={'A':L , 'B':T , 'C': S , 'D': D}

In [173]:
D2['A'][3]

3.4

In [179]:
D2['B'][0]

1

In [180]:
D2['C'][3]

TypeError: 'set' object is not subscriptable

In [183]:
D2['D'][23]

'throne'

In [184]:
K=D2['D']

In [185]:
for i in K:
    print(i , K[i])

23 throne
ABC 44
c 2
new Key new Value
3 3.9

In [186]:
K=D2['A']

In [187]:
for i in K:
    print(i)

6.8
you
are
3.4
game
1

In [188]:
K=D2['B']

In [189]:
for i in K:
    print(i)

1
game
3.4

In [190]:
K=D2['C']

In [191]:
for i in K:
    print(i)

1
game
56
how
you
are

In [192]:
L1=[x**2 for x in range(10)]

In [193]:
L1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## **List Function**

In [23]:
l=[1,2,3,4,5,6,7]
l

[1, 2, 3, 4, 5, 6, 7]

In [24]:
l.append(8)

In [25]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
l.insert(0,0) #phly index pir value
l.insert(1,3)
l

[0, 3, 1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
l.remove(3)

In [28]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
l.reverse()

In [30]:
l

[8, 7, 6, 5, 4, 3, 2, 1, 0]

In [31]:
l.sort()

In [32]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [34]:
l.index(3)#index of first occurrence

3

In [36]:
l.count(4)

1

In [37]:
l.insert(0,4)

In [38]:
l.count(4)

2

In [39]:
l

[4, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [40]:
l.remove(4)# remove first occurence

In [41]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [42]:
l.insert(0,4)
l

[4, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
l.pop(4)# remove item at last index (default last)

4

In [45]:
l

[4, 0, 1, 2, 5, 6, 7, 8]

In [46]:
l.clear() # remove all elements

In [47]:
l

[]

In [48]:
l.extend(1,2,3,4,5)

TypeError: list.extend() takes exactly one argument (5 given)

In [49]:
b=[1,2,3,4]
l.extend(b)

In [50]:
l

[1, 2, 3, 4]

In [51]:
l.append([5,6]) # set ko ak value ly ga 
l

[1, 2, 3, 4, [5, 6]]

## **Tuple**

In [56]:
t=(1,2,3,2,4,5,7,4)
print( len(t))
print( t.count(2))
print( t.index(4))
print( max(t))
print( min(t))
print( sum(t))
print( sorted(t))

8
2
4
7
1
28
[1, 2, 2, 3, 4, 4, 5, 7]

In [61]:
s={1,2,3,4,5}

In [63]:
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [65]:
s.add(5)
s

{1, 2, 3, 4, 5, 6}

In [66]:
s.remove(0) # agr value set ma nahi ha tu error dy ga

KeyError: 0

In [68]:
s.discard(0) #agr value set ma nahi ha tu error nahi dy ga
s

{1, 2, 3, 4, 5, 6}

In [70]:
s.pop() # remove random element
s

{2, 3, 4, 5, 6}

In [71]:
s.add(1)
s

{1, 2, 3, 4, 5, 6}

In [76]:
a={1,2,3,8,9,10}
print(s.union(a)) # combine sets

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [77]:
print(s.intersection(a)) # common values

{1, 2, 3}

In [78]:
print(s.difference(a)) # items in first not in second

{4, 5, 6}

In [80]:
print(s.issubset(a))# checks if every element of the set in the other

False

In [81]:
print(s.issuperset(a))# checks if the set contain every element of the set in the other

False

In [82]:
a.update({4,5,6,7})

In [83]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [84]:
print(s.issubset(a))

True

In [85]:
print(s.issuperset(a))

False

In [86]:
print(a.issuperset(s))

True

## **Dictionary**

In [98]:
d={'a':1 , 'b':2 , 3:'c' , 4:'d'}
print(len(d))
print(str(d)) # return the string representation
print(d.get('a'))
print(d.get(5)) # return none if key is not available
d['c']=5
print(d)
print(d.pop('a')) # remove key a  and returns key value
print(d)
print(d.popitem()) # remove the last
print(d)
del d['b'] #remove key a  and  not returns key value
print(d)

4
{'a': 1, 'b': 2, 3: 'c', 4: 'd'}
1
None
{'a': 1, 'b': 2, 3: 'c', 4: 'd', 'c': 5}
1
{'b': 2, 3: 'c', 4: 'd', 'c': 5}
('c', 5)
{'b': 2, 3: 'c', 4: 'd'}
{3: 'c', 4: 'd'}

In [100]:
d={'a':1 , 'b':2 , 3:'c' , 4:'d'}
d

{'a': 1, 'b': 2, 3: 'c', 4: 'd'}

In [102]:
if 3 in d:
    print("yes")

yes

In [106]:
for key in d.keys():
    print(key)

a
b
3
4

In [107]:

for val in d.values():
    print(val)

1
2
c
d

In [108]:
for k , v in d.items():
    print(k,v)

a 1
b 2
3 c
4 d

In [109]:
d

{'a': 1, 'b': 2, 3: 'c', 4: 'd'}

In [110]:
d.update({ 'c':5 , 'd':6})
d

{'a': 1, 'b': 2, 3: 'c', 4: 'd', 'c': 5, 'd': 6}

In [113]:
d.setdefault('x' , 100) # add x :100 if x not already in dict
d

{'a': 1, 'b': 2, 3: 'c', 4: 'd', 'c': 5, 'd': 6, 'x': 100}

In [115]:
d.setdefault('c' , 100) # add x :100 if x not already in dict

5

In [116]:
d

{'a': 1, 'b': 2, 3: 'c', 4: 'd', 'c': 5, 'd': 6, 'x': 100}

In [1]:
d2=d.copy() # returns a shallow copy of the dict
d2

NameError: name 'd' is not defined

## **Module**

In [4]:
import sys
sys.path.append('C:/Users/GOODLUCK')

In [18]:
import PQ as fun

In [19]:
fun.BasicArthmetic(1,2,3,4,5,6)

AttributeError: module 'PQ' has no attribute 'BasicArthmetic'