### Sales Data Analysis

In [ ]:
'''  Tasks to Perform:
1. Create a new column Total_Sales by multiplying Units_Sold with Unit_Price.

2. Group the data by Region, Product, and Date. Calculate the following aggregated values:
Total Sales (sum)
Average Units Sold (mean)
Maximum Sales
Minimum Sales

3. Identify top performing products by sorting the products based on their total sales in ascending order. 
4. Identify top performing regions based on total sales, sorted in ascending order.
5.Handle missing values (if any) in the dataset.
(Optional) Normalize the Total_Sales column using z-score normalization with NumPy:
 ùëß=(ùë•‚àíùúá)ùúé z= œÉ(x‚àíŒº)

In [12]:
import numpy as np
import pandas as pd
data = {
    'Date': pd.date_range(start='2024-01-01', periods=10, freq='D'),
    'Region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South'],
    'Product': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'B', 'C', 'A'],
    'Units_Sold': [10, 15, 10, 20, 25, 30, 15, 10, 20, 25],
    'Unit_Price': [100, 200, 150, 300, 200, 150, 300, 200, 300, 150]
}

# Calculate new columns (e.g., Total Sales = Units Sold √ó Unit Price).

df = pd.DataFrame(data)
df['Total_Sales'] = df['Units_Sold'] * df['Unit_Price']
print(f'Total Sales : {df['Total_Sales']} \n  \n')

''' Group data by Region, Product, or Date to calculate:
Total sales
Average units sold
Max/min sales per product or region'''

grouped = df.groupby(['Region' , 'Product' , 'Date']).agg(Total_Sales = ('Total_Sales' ,'sum' ) ,
                                                         Units_Sold=( 'Units_Sold' , 'mean'),
                                                          Max_Sales = ('Total_Sales' , 'max'),
                                                           Min_sales =('Total_Sales' , 'min'))
print(grouped)

#Filter and sort data to find top products or regions.

top_product = df.groupby('Product')['Total_Sales'].sum().sort_values(ascending= True)
print(f' \n Top Product {top_product} \n')

top_region = df.groupby('Region')['Total_Sales'].sum().sort_values(ascending= True)
print(f' \n Top Region {top_region} \n')

#Normalize or transform sales data using NumPy (e.g., z-score normalization).

#Handle missing values if any.
df = df.isnull()
print(f' \n Missing values : {df} \n')

# normalize 
mean = df['Total_Sales'].mean()
std = df['Total_Sales'].std()
df['Z_normalize'] =( df['Total_Sales'] - mean) / std
print(f' \n Normalize : {df[['Total_Sales' ,'Z_normalize' ]]}')

Total Sales : 0    1000
1    3000
2    1500
3    6000
4    5000
5    4500
6    4500
7    2000
8    6000
9    3750
Name: Total_Sales, dtype: int64


                           Total_Sales  Units_Sold  Max_Sales  Min_sales
Region Product Date
East   A       2024-01-03         1500        10.0       1500       1500
       C       2024-01-07         4500        15.0       4500       4500
North  A       2024-01-01         1000        10.0       1000       1000
       B       2024-01-05         5000        25.0       5000       5000
       C       2024-01-09         6000        20.0       6000       6000
South  A       2024-01-06         4500        30.0       4500       4500
               2024-01-10         3750        25.0       3750       3750
       B       2024-01-02         3000        15.0       3000       3000
West   B       2024-01-08         2000        10.0       2000       2000
       C       2024-01-04         6000        20.0       6000       6000

 Top Product Product
B    10000
A    10750
C    16500
Name: Total_Sales, dtype: int64


 Top Region Region
East      6000
West      8000
South    11250
North    12000
Name: Total_Sales, dtype: int64


 Missing values :     Date  Region  Product  Units_Sold  Unit_Price  Total_Sales
0  False   False    False       False       False        False
1  False   False    False       False       False        False
2  False   False    False       False       False        False
3  False   False    False       False       False        False
4  False   False    False       False       False        False
5  False   False    False       False       False        False
6  False   False    False       False       False        False
7  False   False    False       False       False        False
8  False   False    False       False       False        False
9  False   False    False       False       False        False


 Normalize :    Total_Sales  Z_normalize
0        False          NaN
1        False          NaN
2        False          NaN
3        False          NaN
4        False          NaN
5        False          NaN
6        False          NaN
7        False          NaN
8        False          NaN
9        False          NaN