In [13]:
# Write a program to count the number of characters in a string.
S = "aqsa yaqoob"
count = len(S.replace(" " , ""))

print(count)

10

In [14]:
# Given a string, return its reverse
S = "aqsa yaqoob"
reverse = S[::-1]
print(reverse)

booqay asqa

In [18]:
# Determine whether a given string is a palindrome.
S = "madam"
palindrome =S[::-1]
if S == palindrome:
    print("Yes")

else :
    pass

Yes

In [22]:
# Write a function that returns the number of vowels
S = "aqsa yaqoob"
vowels = 'aeiou'
count = 0
for i in S:
    if i in vowels:
        count += 1
            
print(count)

5

In [24]:
# Check if a substring exists in a given string
S = "aqsa yaqoob"
if "yaqoob" in S :
    print("yes")

else :
    pass

yes

In [27]:
# Convert a string to all uppercase or all lowercase letters.
S = "aqsa yaqoob"
uppercase = S.upper()
print(uppercase)

lowercase = uppercase.lower()
print(lowercase)

AQSA YAQOOB
aqsa yaqoob

In [29]:
# Replace all occurrences of a word in a string with another word.
original_text = "The sky is blue. Blue is a calming color"
updated_text = original_text.replace("blue" , "green")
print(updated_text)

The sky is green. Blue is a calming color

In [39]:
# Write a function to remove all duplicate characters in a string
S = "aqsa yaqoob" 
seen = set()
result = []
for i in S :
    if i not in seen:
        seen.add(i)
        result.append(i)

sen = " ".join(result)
print(seen)
print(result)
print(sen)

{'b', 'q', 'a', 'o', 'y', ' ', 's'}
['a', 'q', 's', ' ', 'y', 'o', 'b']
a q s   y o b

In [41]:
# 4. Capitalize first letter of each word  => Input: "hello world" â†’ Output: "Hello World"
S = "aqsa yaqoob"
result = S.title()
print(result)

Aqsa Yaqoob